<!DOCTYPE html>
<html>
  <head>
    <title>Wedding2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 
    <div class="container">
      <nav class="navbar navbar-toggleable-md navbar-light bg-light">
        <!-- <a class="navbar-brand" href="#" style="color: #e4ba1c">#FinallyChacon</a> -->
        <%= link_to '#FinallyChacon', root_path, class:'navbar-brand', style: 'color: #e4ba1c' %>
     <!--    <a class="navbar-item nav-link" href="#">Details</a> -->
        <%= link_to 'Details',details_path, class:'navbar-item nav-link' %>
        <a class="navbar-item nav-link" href="#">Registry</a>
        <a class="navbar-item nav-link" href="#">RSVP</a>
      </nav>
    </div>

    <%= yield %>
  </body>
</html>
