<!DOCTYPE html>
<html>
  <head>
    <title>Wedding2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 
<!--     <div class="container">
      <nav class="navbar navbar-toggleable-md navbar-light bg-light">
        <a class="navbar-brand" href="#" style="color: #e4ba1c">#FinallyChacon</a>
        <%= link_to '#FinallyChacon', root_path, class:'navbar-brand', style: 'color: #e4ba1c' %>
        <a class="navbar-item nav-link" href="#">Details</a>
        <%= link_to 'Details',details_path, class:'navbar-item nav-link' %>
        <a class="navbar-item nav-link" href="#">Registry</a>
        <a class="navbar-item nav-link" href="#">RSVP</a>
      </nav>
    </div> -->

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <!-- <a class="nav-link active" href="#">Active</a> -->
      <%= link_to '#FinallyChacon', root_path, class:'navbar-brand', style: 'color: #e4ba1c' %>
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link" href="#">Link</a> -->
      <%= link_to 'Details',details_path, class:'navbar-item nav-link' %>
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link" href="#">Registry</a> -->
      <%= link_to 'Registry', registry_path, class: 'navbar-item nav-link' %>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">RSVP</a>
    </li>
  </ul>

    <%= yield %>

  <footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© Adeline Margaillan
    <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by freepik - www.freepik.com</a>
    
  </div>
  <!-- Copyright -->

</footer>
    
  </body>
</html>
